.card {
    padding: 10px;
    border: 1px solid #dacece;
    img {
        width: 232.14px;
        height: 321px;
        object-fit: cover;
    }
}

.for_left_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

//  @media only screen and (max-width: 953px) {
//         .product-list{
//            display: grid;
//            grid-template-columns:auto auto auto;
//         //    border: 10px solid red;
//            grid-row-gap: 1%;
//         }
//     }
//     @media only screen and (max-width: 430px) {
//         .product-list {
//            display: grid;
//            grid-template-columns:auto ;
//            grid-row-gap: 10px;
//         }
//     }