.subcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // border: 5px solid blue;
    padding: 50px;
    padding: 100px 0 100px 0;
    align-items: center;
}

.for_part4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // background: red;
    width: 90%;

    .card {
        padding: 10%;
        text-align: center;
        // border-right: 1px solid black;
    }
    .conditional_card{
        padding: 10%;
        text-align: center;
        border-right: 1px solid rgb(201, 201, 201);
    }
}

@media only screen and (max-width: 700px) {
    .for_part4 {
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 430px) {
    .card {
        padding: 10%;
        text-align: center;
    }
}
