<div class="sub_container">
    <div class="cht_bot">
        <div>
            <h2>
                KI-Chatbots & Phonebots <br> auf einer einzigartigen Plattform
            </h2>
        </div>
        <div>
            <p>
                Beantworten Sie bis zu 80 % der Kundenanfragen ohne menschliches Zutun. Steigern Sie die Anzahl Ihrer
                Leads,
                bieten Sie großartigen Support und erhöhen Sie Ihren Umsatz mit unserer KI-gesteuerten
                Kundenservice-Lösung.
            </p>

            <ul>
                <li> Sie wollen 2024 auf Bots mit Generative AI setzen?</li>
                <li>Sie wollen mit Automatisierung Kosten senken und die Effizienz steigern?</li>
                <li>Smarte Bots für eine Vielzahl an Branchen & Use Cases</li>
            </ul>
        </div>
        <div>
            <button>Join with US</button>
        </div>
    </div>
</div>