.subcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px 50px 100px;
}

.for_part5 {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    // align-items: center;
    // border:5px solid pink; 

    img {
        height: 160px;
        width: 160px;
    }
}

@media only screen and (max-width: 953px) {
    .for_part5 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
    }
}

@media only screen and (max-width: 430px) {
    .for_part5 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
    }
}