.sub_container {
    border: 2px solid red;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: start;
    padding-left: 5%;
}

.full_sec {
    background: rgb(245, 245, 245);
    width: 95%;
    border-radius: 20px;

    // text-align: center;
    h2 {
        font-weight: 700;
        font-size: 30px;
        padding-bottom: 40px;
        padding-top: 50px;
        text-align: center;
    }

    .toggle_icon {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .ask_sec {
        width: 100%;
        padding-left: 8%;
        padding-right: 8%;
        border-radius: 15px;
    }

    .btn {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;

        button {
            padding: 15px 40px 15px 40px;
            border-radius: 30px;
            background: white;
            border: 2px solid white;
            color: #09175F;
        }
    }

}