<div class="sub_container">
    <div class="full_sec">
        <div class="headline">
            <h2>Frequently Ask Questions</h2>
        </div>

        <div class="ask_sec">
            <span *ngFor="let i of items; let j = index">
                <div class="toggle_icon">
                    <div>
                        <h3><b>{{i.ques}}</b></h3>
                    </div>
                    <button (click)="handle_toggle(j)">
                        <div *ngIf="isShow[j]==true">
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                        <div *ngIf="isShow[j]==false">
                            <i class="fa-solid fa-angle-up"></i>
                        </div>
                    </button>
                </div>
                <hr>
                <div *ngIf="isShow[j]==true">
                    <p>
                        {{i.ans}}
                    </p>
                </div>
            </span>
        </div>
        <div class="btn">
            <button>Find More FAQS</button>
        </div>
    </div>
</div>





<!-- <div class="sub_container">
    <div class="full_sec">
        <div class="headline">
            <h2>Frequently Ask Questions</h2>
        </div>

        <div class="ask_sec">
            <span *ngFor="let i of items; let j = index">
                <div class="toggle_icon">
                    <div>
                        <h3><b>{{i.ques}}</b></h3>
                    </div>
                    <button (click)="handleClick(j)">
                        <div>
                            <i *ngIf="toggle[j] == true" class="fa-solid fa-angle-down"></i>
                            <i *ngIf="toggle[j] !== true" class="fa-solid fa-angle-up"></i> -->
<!-- <i *ngIf="toggle[j] == false" class="fa-solid fa-angle-up"></i> -->
<!-- </div>
                    </button>
                </div>
                <div *ngIf="toggle[j]">
                    <p>
                        {{i.ans}}
                    </p>
                </div>
            </span>
        </div>

    </div>
</div> -->