<!-- <div class="container">
    <div class="subcontainer">
        <div class="for_part4">
            <div class="card">
                <h2><b>90 Days Return</b></h2>
                <p>Lorem ipsum dolor sit Consecteturcorrupti .</p>
            </div>
            <div class="card">
                <h2><b>90 Days Return</b></h2>
                <p>Lorem ipsum dolor sit Consecteturcorrupti .</p>
            </div>
            <div class="card">
                <h2><b>90 Days Return</b></h2>
                <p>Lorem ipsum dolor sit Consecteturcorrupti .</p>
            </div>
            <div class="card">
                <h2><b>90 Days Return</b></h2>
                <p>Lorem ipsum dolor sit Conse  corrupti .</p>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="subcontainer">
        <div class="for_part4">
            <span *ngFor="let i of [1,2,3,4]">
                <div class="card">
                    <div [class]="i == 4 ? 'card' : 'conditional_card'">
                        <h2><b>90 Days Return</b></h2>
                        <p>Lorem ipsum dolor sit Consecteturcorrupti .</p>
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>