<div class="container">
    <div class="subcontainer">
        <div class="text_decoration">
            <h1><b>Top Picks For You</b></h1>
            <p>Lorem ipsum dolor sit, sed dolore magni neque vel officia. Praesentium aut optio excepturi saepe?</p>
        </div>


        <div class="product-list">
            <ng-container *ngFor="let item of products">
                <app-product-card [i]="item"></app-product-card>
            </ng-container>   
        </div>


        <button class="button">View All Products</button>
    </div>
</div>