.subcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // border: 5px solid blue;
    // background: #FAF5F1;
    padding: 0px 100px 50px 100px;

    .for_part5 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        // border:5px solid pink; 
    }

    @media only screen and (max-width: 953px) {
        .for_part5 {
           display: grid;
           grid-template-columns:1fr 1fr 1fr;
           gap: 16px;
        }
    }
    @media only screen and (max-width: 430px) {
        .for_part5 {
           display: grid;
           grid-template-columns:1fr;
        }
    }
}