<div class="container">
    <div class="subcontainer">
        <div class="for_part5">
            <img src="../../../../assets/images/home/footerItem1.png" alt="">
            <img src="../../../../assets/images/home/footerItem2.png" alt="">
            <img src="../../../../assets/images/home/footerItem3.png" alt="">
            <img src="../../../../assets/images/home/footerItem4.png" alt="">
            <img src="../../../../assets/images/home/footerItem5.png" alt="">
            <img src="../../../../assets/images/home/footerItem6.png" alt="">
        </div>
    <div>
</div>