<div class="container">
    <div class="subcontainer">
        <div class="footer">
            <div class="item1">
                <h2><b>Newsletter</b></h2>
                <p>Get timely updates from your favorite products</p>
                <div class="mail_sec">
                    <i class="fa fa-envelope"></i>
                    <p>sabrinaboby786@gmail.com</p>
                </div>
            </div>
            <div class="item2">
                <h4><b>Services</b></h4>
                <p>Email marketing</p>
                <p>Branding</p>
                <p>Campaign</p>
                <p>Offline</p>
            </div>
            <div class="item3">
                <h4><b>About</b></h4>
                <p>Our story</p>
                <p>Benefits</p>
                <p>Team</p>
                <p>Career</p>
            </div>
            <div class="item4">
                <h4><b>Contact</b></h4>
                <p>Facebook</p>
                <p>Twitter</p>
                <p>Instagram</p>
                <p>Linkedin</p>
            </div>
            <div class="item5">
                <h4><b>Help</b></h4>
                <p>FAQ</p>
                <p>Contact us</p>
            </div>
        </div>
    </div>
</div>